<div class="homebox">
    <div class="hero">
        <img id="hero" src="{{'McFarlinHero.png' | asset_url}}"/>
    </div>
    <div class="logo">
        <img id="logo" src="{{'McFarlinLogo.png' | asset_url}}">
    </div>
</div>
<div class="cta">
    <div class="about">
        <p class="ctatext">
            Take control of your financial future. Schedule a meeting with our registered representative
        </p>
        <div class="ctabtn">
            <a href="">Schedule Now!</a>
        </div>
    </div>
    <div class="vid">
        <video class="vid2" controls muted>
            <source src="{{'TheRuleof72.mp4' | asset_url}}">
        </video>
    </div>
</div>
<div class="info">
    <div class="biopic">
        <img class="biopic" src="{{'Photo1.jpg' | asset_url}}">
    </div>
    <div class="biotext">
        <p class="biotext">
            I have done many things in my lifetime.  I spent 25 years as an educator.  During those years, I was a testing coordinator, advisor, and organization president.  As the president of the Newark Association of Mathematics Educators, I strived to advance the organizations mission, to develop students’ interest in STEM through mathematical competitions, by introducing scholarships, and conducting the first bilingual math competition.  During my last years in education I began to transition to the financial services industry.  I now use those same innovative skills to help create plans for my clients to achieve their financial goals and dreams.</p>
    </div>
</div>